@import '../../assets/less/_variables.less';
@import '../../assets/less/tags.less';

.tags {
  min-height: 100%;
  padding-bottom: 100px;
}

.tags-container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px 100px;
  background: #FFF;
  border: 1px solid @gray-lighter-color;
  flex-wrap: wrap;

  .tag {
    padding: 5px 10px;
    margin: 10px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: all 200ms ease;
  }
}


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: -10px;
  padding: 20px;
  border-top: 1px solid @gray-lighter-color;
  background: @theme-color;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

  p, a {
    color: #FFF;
    font-size: 13px;
    line-height: 24px;
    text-decoration: none;
  }

  a {
    font-size: 12px;
  }
}

/* adapt mobile browser */
@media (max-width: 430px) {
  .tags {
    min-height: 100%;
    padding-bottom: 90px;
  }

  .tags-container {
    padding: 20px;
  }

  .footer {
    a {
      display: none;
    }
  }
}
